<a href="{{}}"> 
	<div class="main-div">
		<img class="1st-image" href="{{}}">
		<h1 class="1st-title">{{}}</h1>
		<h4 class="1st-byline">{{}}</h4>
	</div>
</a>
<!-- 2nd tier -->
<div class="2nd-tier">
	<a href="{{}}"> 
		<div class="2nd-left">
			<img class="2nd-image" href="{{}}" >
			<h1 class="2nd-title">{{}}</h1>
			<h4 class="2nd-byline">{{}}</h4>
		</div>
	</a>
	<a href="{{}}"> 
		<div class="2nd-right">
			<img class="2nd-image" href="{{}}" >
			<h1 class="2nd-title">{{}}</h1>
			<h4 class="2nd-byline">{{}}</h4>
		</div>
	</a>
</div>
<!-- 3rd tier --> 
<h2>MORE...</h2>
<div class="3rd-tier"> <!--not clickable -->
	<a href="{{}}"> 
		<div class="3rd-div">
			<img class="3rd-image" href="{{}}" >
			<h1 class="3rd-title">{{}}</h1>
			<h4 class="3rd-byline">{{}}</h4>
		</div>
	</a>
	<a href="{{}}"> 
		<div class="3rd-div">
			<img class="3rd-image" href="{{}}" >
			<h1 class="3rd-title">{{}}</h1>
			<h4 class="3rd-byline">{{}}</h4>
		</div>
	</a>
	<a href="{{}}"> 
		<div class="3rd-div">
			<img class="3rd-image" href="{{}}" >
			<h1 class="3rd-title">{{}}</h1>
			<h4 class="3rd-byline">{{}}</h4>
		</div>
	</a>
</div>



